.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.calculator-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 100px 50px 50px 50px 50px;
    background-color: darkgray;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    gap: 8px;
    margin: auto;
    padding: 5px;
}
.calculator-buttons {
    background-color: white;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.calculator-button-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator-screen {
    background-color: wheat; 
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
#calculator-screen-displaybox {
    display: flex;
    justify-content: flex-end;
    padding-top: 11px;
    padding-right: 15px;
    font-size: 25px;
}
#numb-0-button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end:6;
}
#period-button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
#numb-1-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
#numb-2-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#numb-3-button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#numb-4-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#numb-5-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#numb-6-button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#numb-7-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#numb-8-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#numb-9-button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#plus-button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: turquoise;
}
#minus-button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: turquoise;
}
#equals-button {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 30;
    background-color: darkorange;
}
#multiply-button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: turquoise;
}
#divide-button {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: turquoise;
}
#clear-button {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: darkorange;
}


